# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=TU_SECRET_AQUI
NEXTAUTH_SECRET=

# Base de datos PostgreSQL
DATABASE_URL=

# Mercado Pago (Argentina)
MERCADOPAGO_ACCESS_TOKEN=tu_access_token
MERCADOPAGO_PUBLIC_KEY=tu_public_key

# URLs
NEXTAUTH_URL=http://localhost:3000
